h1, h2, h3, h4, h5 {
  color: #404040;
  font-weight: 500;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-bold {
  font-weight: bold;
}
.text-normal {
  font-weight: normal;
}
.body2 {
  font-size: 13px;
}
.text-13 {
  font-size: 13px;
}
.text-12 {
  font-size: 12px;
}
.text-11 {
  font-size: 11px;
}
