@import "../base/breakpoints.scss";

.form-element {
  .form-element-checkbox {
    display: flex;
    align-items: center;
    input[type="checkbox"] {
      width: 20px;
      height: 20px;
      cursor: pointer;
      flex-shrink: 0;
    }
    label {
      position: relative;
      font-size: 15px;
      padding: 0 0 0 10px;
      left: initial;
      top: initial;
      cursor: pointer;
      background: transparent;
    }

  }
  &.column-content-2 {
    column-count: 2;
    column-gap: 30px;
  }
  &.column-content-3 {
    column-count: 3;
    column-gap: 30px;
  }
}
