.badge {
  display: inline-block;
  padding: 0px 4px;
  border-radius: 10px;
  min-width: 0;
  font-size: 13px;
  &.alert {
    background-color: red;
    color: white;
  }
  &.primary {
    background-color: var(--primary);
    color: white;
  }
  &.warning {
    background-color: orange;
    color: white;
  }
  &.success {
    background-color: green;
    color: white;
  }
}
