.float-menu {
  position: absolute;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 3px 10px;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
  right: -4px;
  top: 15px;
  z-index: 10;
  .menu-btn {
    height: 40px;
    width: 40px;
    margin: 0 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      cursor: pointer;
      .material-symbols-outlined {
        color: var(--primary);
      }
    }
    .material-symbols-outlined {
      font-size: 24px;
      color: var(--grey);
    }
  }
  @media (min-width: $screen-lg-min) {
    &:hover {
      display: block !important;
    }
    .menu-btn {
      //height: 30px;
      //width: 30px;
    }
  }

}
