@import "../base/breakpoints.scss";

.modal {
  background-color: rgba(0,0,0,.4);
  bottom: 0;
  height: 100%;
  left: 0 !important;
  overflow: hidden;
  padding: 60px 16px 0;
  position: fixed;
  right: 0;
  top: 0;
  text-align: center;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  &.fade-anim {
    transition: opacity 400ms ease-in-out;
    will-change: opacity;
    opacity: 0;
    &.in {
      opacity: 1;
    }
  }
  .modal-content {
    background-color: #ffffff;
    border-radius: 10px;
    margin: 16px auto;
    max-width: 800px;
    position: relative;
    transition: opacity 400ms ease-in-out;
    width: 100%;
    will-change: opacity;
    display: inline-block;
    text-align: left;
    padding: 30px 20px;
    max-height: calc(90% - 70px);
    overflow: auto;
    scrollbar-gutter: stable both-edges;
    margin-top: -60px;
    @media (max-width: $screen-sm-max) {
      padding: 20px 10px;
    }
    .modal-close {
      position: absolute;
      right: -4px;
      top: 10px;
      cursor: pointer;
    }
  }

  ::-webkit-scrollbar {
    width: 14px;
  height: 14px;
  }
  ::-webkit-scrollbar-thumb {
    background: #c4c8c7;
    border-radius: 15px;
    border: 5px solid #fff;
  }
}
